.inputContainer {
  display: flex;

  max-width: 100%;
  margin: 0 22rem;

  align-self: center;
  justify-self: center;

  position: relative;
  bottom: 1.68rem;
}

.input {
  background: var(--gray-500);

  width: 39.25rem;
  height: 3.37rem;

  margin-right: 8px;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
} 

.button {
  display: inline-flex;

  width: 90px;
  height: 52px;

  align-items: center;
  justify-content: space-evenly;

  border: 0;
  border-radius: 8px;

  color: var(--gray-100);
  background: var(--blue-dark);
}

.button text {
  font-size: 1rem;
}
